.yellowRectangle{
    background-color: yellow;
}

.redRectangle{
    background-color: red;
}

.blueRectangle{
    background-color: blue;
}

.greenRectangle{
    background-color: green;
}

.purpleRectangle{
    background-color: purple;
}

.orangeRectangle{
    background-color: orange;
}

.bisqueRectangle{
    background-color: bisque;
}

.cyanRectangle{
    background-color: cyan;
}

.salmonRectangle{
    background-color: salmon;
}